@page "/counter"
@*@inject SingletonService singleton
@inject TransientService transient*@


<h1 style="color: @appState.Color">Counter</h1>


<p style="color: @appState.Color; font-size: @appState.Size">Current count: @currentCount</p>
<p>Singleton count: @singleton.Value</p>
<p>Transient count: @transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountJavascript">Click me Javascript</button>

<input type="number" @bind="currentCount" />
<br />

@*<MovieList MoviesList="movieLists" />*@


<div style="display:flex">
    <div style="width:150px">
        <select @bind="appState.Color" class="form-control" style="margin-top: 15px">
            <option value="Green">Green</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
        </select>
    </div>
    <div style="width:150px">
        <select @bind="appState.Size" class="form-control" style="margin-top: 15px">
            <option value="12px">12px</option>
            <option value="16px">16px</option>
            <option value="18px">18px</option>
        </select>
    </div>
</div>


@code {

    //private List<Movie> movieLists;

    //protected async override Task OnInitializedAsync()
    ////protected override void OnInitialized()
    //{
    //    await Task.Delay(3000);

    //    movieLists = new List<Movie>(){
    //        new Movie() { Title = "joker", ReleaseDate = new DateTime(2019, 7, 2)},
    //        new Movie() { Title = "Batman", ReleaseDate = new DateTime(2016, 11, 23)},
    //        new Movie() { Title = "Avenders", ReleaseDate = new DateTime(2010, 7, 16)}
    //    };

    //}

    //private int currentCount = 0;

    //private void IncrementCount()
    //{
    //    currentCount++;
    //    transient.Value = currentCount;
    //    singleton.Value = currentCount;
    //}
}
